# Terraform state files lives in S3
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Variable files
*.tfvars

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

apply.log
destroy.log
destroy2.log
environments/dev/cribe svc ingress-nginx-controller -n ingress-nginx
environments/dev/apply2.log
environments/dev/apply2.logexport      
terraform-ansible-jenkins.gif